@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: #f8faff;
    --foreground: #ffffff;
    --primary: #1e1e1e;
    --secondary: #6b7280;
    --tertiary: #9ca3af;
    --accent: #3c4efb;
    --muted: #d1d5db;
    --border: #e2e8f0;
    --accent-gradient: linear-gradient(90deg, #3c4ffb 100%, #33a3fa 100%);
    --success: #22c55e;
    --warning: #facc15;
    --error: #ef4444;
  }

  .dark {
    --background: #1a1a1a;
    --foreground: #9c9c9c;
    --primary: #ffffff;
    --secondary: #a1a1aa;
    --tertiary: #71717a;
    --accent: #e3ff3b;
    --muted: #3f3f46;
    --border: #2d2d2d;
    --accent-gradient: linear-gradient(90deg, #2fc989 100%, #cbea3e 100%);
    --success: #4ade80;
    --warning: #fde047;
    --error: #f87171;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-tertiary: var(--tertiary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  color: var(--primary);
  @apply font-sans;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
